TBZRMTO/Web References/CheckOnlineRefrence/OnlineInformationChecking.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCarInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carCardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarInformationResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDriverInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="driverCardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDriverInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDriverInformationResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="driverCardNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carCardNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInformationResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCarInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetCarInformation" />
  </wsdl:message>
  <wsdl:message name="GetCarInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetCarInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetDriverInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetDriverInformation" />
  </wsdl:message>
  <wsdl:message name="GetDriverInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetDriverInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetInformation" />
  </wsdl:message>
  <wsdl:message name="GetInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="OnlineInformationCheckingSoap">
    <wsdl:operation name="GetCarInformation">
      <wsdl:input message="tns:GetCarInformationSoapIn" />
      <wsdl:output message="tns:GetCarInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDriverInformation">
      <wsdl:input message="tns:GetDriverInformationSoapIn" />
      <wsdl:output message="tns:GetDriverInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInformation">
      <wsdl:input message="tns:GetInformationSoapIn" />
      <wsdl:output message="tns:GetInformationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnlineInformationCheckingSoap" type="tns:OnlineInformationCheckingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCarInformation">
      <soap:operation soapAction="http://tempuri.org/GetCarInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriverInformation">
      <soap:operation soapAction="http://tempuri.org/GetDriverInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformation">
      <soap:operation soapAction="http://tempuri.org/GetInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OnlineInformationCheckingSoap12" type="tns:OnlineInformationCheckingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCarInformation">
      <soap12:operation soapAction="http://tempuri.org/GetCarInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDriverInformation">
      <soap12:operation soapAction="http://tempuri.org/GetDriverInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInformation">
      <soap12:operation soapAction="http://tempuri.org/GetInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnlineInformationChecking">
    <wsdl:port name="OnlineInformationCheckingSoap" binding="tns:OnlineInformationCheckingSoap">
      <soap:address location="http://172.24.129.5/OnlineInformationChecking.asmx" />
    </wsdl:port>
    <wsdl:port name="OnlineInformationCheckingSoap12" binding="tns:OnlineInformationCheckingSoap12">
      <soap12:address location="http://172.24.129.5/OnlineInformationChecking.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>